<div class="page-headline container">
    <h1 class="page-headline__header">This is an example</h1>
    <p class="page-headline__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>

<div class="city__hero" style="background-image: url(http://placehold.it/5000x2000);"></div>

<h3 class="block-headline container">Popular Landmarks</h3>
<div class="city__places city__landmarks container">
    <a class="city__place" href="#">
        <div class="city__place__image">
            <img src="http://placehold.it/100x75">
            <div class="city__place__number">1</div>
        </div>
        <div class="city__place__info">
            <h3 class="city__place__headline">This is an example</h3>
            <span class="city__place__address">123 Main St.</span>
        </div>
    </a>
    <a class="city__place" href="#">
        <div class="city__place__image">
            <img src="http://placehold.it/100x75">
        </div>
        <div class="city__place__info">
            <h3 class="city__place__headline">This is an example</h3>
            <span class="city__place__address">123 Main St.</span>
        </div>
    </a>
    <a class="city__place" href="#">
        <div class="city__place__image">
            <img src="http://placehold.it/100x75">
        </div>
        <div class="city__place__info">
            <h3 class="city__place__headline">This is an example</h3>
            <span class="city__place__address">123 Main St.</span>
        </div>
    </a>
    <a class="city__place" href="#">
        <div class="city__place__image">
            <img src="http://placehold.it/100x75">
        </div>
        <div class="city__place__info">
            <h3 class="city__place__headline">This is an example</h3>
            <span class="city__place__address">123 Main St.</span>
        </div>
    </a>
    <a class="city__place" href="#">
        <div class="city__place__image">
            <img src="http://placehold.it/100x75">
        </div>
        <div class="city__place__info">
            <h3 class="city__place__headline">This is an example</h3>
            <span class="city__place__address">123 Main St.</span>
        </div>
    </a>
    <a class="city__place" href="#">
        <div class="city__place__image">
            <img src="http://placehold.it/100x75">
        </div>
        <div class="city__place__info">
            <h3 class="city__place__headline">This is an example</h3>
            <span class="city__place__address">123 Main St.</span>
        </div>
    </a>
</div>

<div class="city__places city__hotels">
</div>

<div class="city__places city__events">
</div>

<div class="city__places city__restaurants">
</div>