<div class="page-headline container">
    <h1 class="page-headline__header">Admin</h1>
</div>

<h4 class="block-headline container">Cities</h4>
<div class="container">
    <div class="admin-city" ng-repeat="city in cities">
        <div class="admin-city__image">
            <img ng-src="{{getCityHeroImage(city.city_id)}}">
        </div>
        <div class="admin-city__info">
            <h3 class="admin-city__headline" ng-bind="city.city_name"></h3>
            <p class="admin-city__description" ng-bind="city.city_description"></p>
            <a class="admin-city__edit__link" href="#admin/edit/{{city.city_id}}">Edit</a>
        </div>
    </div>
</div>