*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $font-stack;
	font-size: $font-size;
	line-height: $line-height;
	color: $text-color;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0;
	line-height: 1em;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

input, textarea {
    display: block;
    width: 100%;
    border: 1px solid $gray--lighter;
    padding: 15px;
    font-size: 1.1em;
    min-width: 300px;
    font-weight: 300;
    color: $text-color;

    & + input, & + textarea {
        margin-top: 15px;
    }
}

input[type="submit"] {
    background-color: $blue;
    color: $white;
    border-color: transparent;
    cursor: pointer;

    &.delete {
        width: auto;
        background-color: #d50000;
    }
}

p {
	margin: 0;
	margin-bottom: 15px;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}