<div class="container">
    <div class="site-header--logo" ng-bind="siteName"></div>
    <div class="site-header--logged-in">
        <a href="#create" class="new-party">
            <div class="header-button plus"></div>
        </a>
    	<div>
            <a href="#" ng-click="changeProfilePicture($event)" class="profile-picture">
                <img ng-src="../assets/img/profile_pictures/{{loggedInUser.profile_picture}}.png">
            </a>
            <a href="#/" class="profile-picture">
                {{loggedInUser.display_name}}
            </a>
        </div>
        <span ng-click="toggleDropdownMenu()" ng-class="{'dropdown-visible' : showDropdownMenu}" class="account-dropdown">
            <div class="header-button down-arrow"></div>
            <div ng-show="showDropdownMenu" class="account-dropdown-menu">
                <a href="#/">{{actionWordPlural}}</a>
                <a href="#" ng-click="logout()">Logout</a>
            </div>
        </span>
    </div>
</div>